Repository superfluid-finance/protocol-monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @superfluid-finance/fte, @hellwolf, @0xdavinchee, @kasparkallas

Subgraph Fixes + Refactor (#909)
  packages/subgraph/config/arbitrum-one.json
  packages/subgraph/config/arbitrum-rinkeby.json
  packages/subgraph/config/avalanche-c.json
  packages/subgraph/config/avalanche-fuji.json
  packages/subgraph/config/ganache.json
  packages/subgraph/config/goerli.json
  packages/subgraph/config/kovan.json
  packages/subgraph/config/matic.json
  packages/subgraph/config/mumbai.json
  packages/subgraph/config/optimism-kovan.json
  packages/subgraph/config/optimism-mainnet.json
  packages/subgraph/config/rinkeby.json
  packages/subgraph/config/ropsten.json
  packages/subgraph/config/xdai.json
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/src/utils.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/test-subgraph.template.yaml
Owners: @0xdavinchee, @kasparkallas, @hellwolf

data integrity cleanup
  packages/subgraph/package.json
  packages/subgraph/scripts/dataIntegrity/dataIntegrityQueries.ts
  packages/subgraph/scripts/dataIntegrity/dataIntegrityTest.ts
  packages/subgraph/scripts/quickDataValidation.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

mapping updates
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/test/helpers/updaters.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

add tests
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/test/helpers/initializers.ts
  packages/subgraph/test/helpers/updaters.ts
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/aggregateQueries.ts
  packages/subgraph/test/validation/aggregateValidators.ts
  packages/subgraph/test/validation/hol/subscriptionValidator.ts
  packages/subgraph/test/validation/validators.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

undo manual accounting for balance
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/superToken.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

fixed script for pure super token deployment (wrong tx order)
  packages/ethereum-contracts/scripts/deploy-unlisted-pure-super-token.js
  packages/ethereum-contracts/test/contracts/tokens/PureSuperToken.test.js
Owners: @hellwolf

(finally) added a CFA deleteFlow diagram done long time ago
  packages/ethereum-contracts/docs/CFA-delete-flow-to-mfa.plantuml
  packages/ethereum-contracts/docs/CFA-delete-flow-to-mfa.svg
Owners: @hellwolf

made build script executable
  examples/beginner-examples/money-router/build-and-test.sh
Owners: @superfluid-finance/fte

fix hardhat config (type hint), rename PASS_PHRASE to MNEMONIC, IDE auto-removal of trailing spaces
  examples/beginner-examples/token-spreader/.env.template
  examples/beginner-examples/token-spreader/README.md
  examples/beginner-examples/token-spreader/contracts/TokenSpreader.sol
  examples/beginner-examples/token-spreader/hardhat.config.js
Owners: @superfluid-finance/fte

added script for deploying SuperfluidLoader at a deterministic address
  packages/ethereum-contracts/scripts/deploy-deterministic-loader.js
Owners: @hellwolf

(WIP) modify deployment action to be single-network, without verification, add RPC override option
  .github/workflows/handler.deploy-to-mainnets.yml
  packages/ethereum-contracts/truffle-config.js
Owners: @hellwolf

final touches
  packages/subgraph/schema.graphql
  packages/subgraph/src/mappingHelpers.ts
  packages/subgraph/src/mappings/cfav1.ts
  packages/subgraph/src/mappings/host.ts
  packages/subgraph/src/mappings/idav1.ts
  packages/subgraph/src/mappings/resolver.ts
  packages/subgraph/src/mappings/superToken.ts
  packages/subgraph/src/mappings/superTokenFactory.ts
  packages/subgraph/src/mappings/superfluidGovernance.ts
  packages/subgraph/subgraph.template.yaml
  packages/subgraph/test-subgraph.template.yaml
Owners: @0xdavinchee, @kasparkallas, @hellwolf

sdk core subgraph changes
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshot.ts
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshot/accountTokenSnapshots.graphql
  packages/sdk-core/src/subgraph/entities/accountTokenSnapshotLog/accountTokenSnapshotLogs.graphql
  packages/sdk-core/src/subgraph/entities/tokenStatistic/tokenStatistics.graphql
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLog.ts
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLogs.graphql
  packages/sdk-core/src/subgraph/events/events.graphql
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
  packages/sdk-core/src/subgraph/schema.graphql
  packages/subgraph/schema.graphql
Owners: @0xdavinchee, @kasparkallas, @hellwolf

add gasPrice test
  packages/subgraph/test/interfaces.ts
  packages/subgraph/test/queries/eventQueries.ts
  packages/subgraph/test/validation/eventValidators.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

Remove `networkId` and `dataMode` from Framework Initialization (#910)
  packages/sdk-core/CHANGELOG.md
  packages/sdk-core/README.md
  packages/sdk-core/previous-versions-testing/queryTests.ts
  packages/sdk-core/previous-versions-testing/runQueryTests.ts
  packages/sdk-core/scripts/setup.ts
  packages/sdk-core/src/Framework.ts
  packages/sdk-core/src/Query.ts
  packages/sdk-core/src/SFError.ts
  packages/sdk-core/src/constants.ts
  packages/sdk-core/src/frameworkHelpers.ts
  packages/sdk-core/src/types.ts
  packages/sdk-core/test/0_framework.test.ts
  packages/sdk-core/test/5_subgraph.test.ts
  packages/subgraph/test/helpers/helpers.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

add new networks + .env.example file
  packages/subgraph/.env.example
  packages/subgraph/README.md
  packages/subgraph/hardhat.config.ts
  packages/subgraph/scripts/maps.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

Add support of log queries to sdk-redux
  packages/sdk-core/src/index.ts
  packages/sdk-core/src/subgraph/entities/tokenStatisticLog/tokenStatisticLog.ts
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityArgs.ts
  packages/sdk-redux/src/reduxSlices/rtkQuery/subgraphApiSlice/endpoints/entityEndpoints.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

interface renaming
  packages/subgraph/scripts/dataIntegrity/dataIntegrityQueries.ts
  packages/subgraph/scripts/dataIntegrity/dataIntegrityTest.ts
  packages/subgraph/scripts/dataIntegrity/helperFunctions.ts
  packages/subgraph/scripts/dataIntegrity/interfaces.ts
  packages/subgraph/scripts/quickDataValidation.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

token and governanceAddress properly mapped
  packages/sdk-core/src/events.ts
  packages/sdk-core/src/mapGetAllEventsQueryEvents.ts
  packages/sdk-core/src/subgraph/events/events.graphql
Owners: @0xdavinchee, @kasparkallas, @hellwolf

governanceAddress and token added
  packages/sdk-core/src/subgraph/queries/getAllEvents.graphql
Owners: @0xdavinchee, @kasparkallas, @hellwolf

subgraph integrity cleanup
  packages/subgraph/README.md
  packages/subgraph/scripts/dataIntegrity/dataIntegrityQueries.ts
  packages/subgraph/scripts/dataIntegrity/dataIntegrityTest.ts
  packages/subgraph/scripts/dataIntegrity/helperFunctions.ts
  packages/subgraph/scripts/dataIntegrity/interfaces.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

comment cleanup
  packages/subgraph/scripts/dataIntegrity/dataIntegrityTest.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

lock file
  examples/beginner-examples/token-spreader/package-lock.json
Owners: @superfluid-finance/fte

Mark on a tracked transaction whether Subgraph polling was successful
  packages/sdk-redux/CHANGELOG.md
  packages/sdk-redux/src/reduxSlices/argTypes.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/thunks/trackPendingTransactionThunk.ts
  packages/sdk-redux/src/reduxSlices/transactionTrackerSlice/trackedTransaction.ts
Owners: @0xdavinchee, @kasparkallas, @hellwolf

Update handler.publish-pr-packages.yml
  .github/workflows/handler.publish-pr-packages.yml
Owners: @hellwolf

Update handler.publish-pr-packages.yml (#922)
  .github/workflows/handler.publish-pr-packages.yml
Owners: @hellwolf

Dummy commit
  packages/sdk-redux/CHANGELOG.md
Owners: @0xdavinchee, @kasparkallas, @hellwolf

wip, added Agreement type class
  packages/spec-haskell/packages/core/src/Money/Concepts/Distribution.lhs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/ConstantFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/DecayingFlowAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Agreements/TransferableBalanceAgreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/Agreement.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Concepts/RealtimeBalance.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Integrations/Serialization.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/Integrations/Show.hs
  packages/spec-haskell/packages/core/src/Money/Systems/Superfluid/System/AccountTokenModel.hs
  packages/spec-haskell/packages/core/superfluid-protocol-spec-core.cabal
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/Serialization.hs
  packages/spec-haskell/packages/simple/src/Money/Systems/Superfluid/Instances/Simple/System.hs
Owners: @hellwolf

CODEOWNERS:

# REFERENCE: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# By default no owner, so everyone in the FTE team can approve the pull request
* @superfluid-finance/fte

# Workflow files are gatekept by MiaoZC
/.github/ @hellwolf
/tasks/ @hellwolf
/.yarn/ @hellwolf

# Packages
#
/packages/spec-haskell/ @hellwolf
/packages/ethereum-contracts/ @hellwolf
/packages/js-sdk/ @hellwolf @0xdavinchee
/packages/subgraph/ @0xdavinchee @kasparkallas @hellwolf
/packages/sdk-core/ @0xdavinchee @kasparkallas @hellwolf
/packages/sdk-redux/ @0xdavinchee @kasparkallas @hellwolf
/packages/hot-fuzz/ @hellwolf
